.company-logo-icon6 {
  height: 27px;
  width: 63px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.content47 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-one6 {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.link-three6,
.link-two6,
.team4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.link-two6 {
  min-width: 95px;
  white-space: nowrap;
}
.link-three6,
.team4 {
  min-width: 62px;
}
.team4 {
  min-width: 40px;
}
.chevron-down-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.column35,
.nav-link-dropdown3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column35 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.button61 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 32px;
}
.button60 {
  width: 72px;
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-lgi);
}
.button63 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--color-neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.actions16,
.button62 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button62 {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-200);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--color-steelblue-200);
  white-space: nowrap;
}
.button62:hover {
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.actions16 {
  gap: var(--gap-base);
  color: var(--color-mintcream-100);
}
.column34,
.container8,
.navbar-13 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.column34 {
  width: 707px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-13xl);
}
.container8,
.navbar-13 {
  align-self: stretch;
}
.container8 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar-13 {
  background-color: var(--color-mintcream-200);
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base) var(--padding-45xl) var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-neutral-neutral-darkest);
  font-family: var(--font-roboto);
}
.subheading4 {
  width: 80px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: none;
}
.heading25,
.lorem-ipsum-dolor4 {
  align-self: stretch;
  position: relative;
}
.heading25 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.lorem-ipsum-dolor4 {
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--text-large-semi-bold);
  color: var(--link-primary);
}
.content48,
.section-title7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content48 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-21xl);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h5);
}
.section-title7 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.placeholder-image-icon17 {
  align-self: stretch;
  height: 405px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.job-title4,
.name4 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.name4 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.job-title4 {
  font-size: var(--font-size-lg);
  color: var(--link-primary);
}
.title4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.from-this-inspiration1,
.one-day-i1,
.over-the-past1 {
  margin: 0;
}
.member-bio {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--link-primary);
}
.content51 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon-dribble4,
.icon-linkedin7,
.icon-x7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.card4,
.social-icons4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.card4 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 406px;
  max-width: 100%;
}
.placeholder-image-icon18 {
  align-self: stretch;
  height: 405px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.job-title5,
.name5 {
  position: relative;
  line-height: 150%;
}
.name5 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.job-title5 {
  font-size: var(--font-size-lg);
  color: var(--link-primary);
}
.job-title5,
.text34,
.title5 {
  align-self: stretch;
}
.title5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text34 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--link-primary);
}
.content52 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon-dribble5,
.icon-linkedin8,
.icon-x8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.card5,
.social-icons5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.card5 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 406px;
  max-width: 100%;
}
.placeholder-image-icon19,
.row8 {
  align-self: stretch;
  max-width: 100%;
}
.row8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.placeholder-image-icon19 {
  height: 405px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.job-title6,
.name6 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.name6 {
  align-self: stretch;
  height: 30px;
  font-weight: 600;
}
.job-title6 {
  height: 27px;
  font-size: var(--font-size-lg);
}
.job-title6,
.text35,
.title6 {
  align-self: stretch;
}
.title6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text35 {
  height: 24px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  display: inline-block;
}
.content53 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon-dribble6,
.icon-linkedin9,
.icon-x9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.card6,
.social-icons6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.card6 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 406px;
  max-width: 100%;
}
.placeholder-image-icon20 {
  align-self: stretch;
  height: 405px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.job-title7,
.name7 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.name7 {
  align-self: stretch;
  height: 30px;
  font-weight: 600;
}
.job-title7 {
  height: 27px;
  font-size: var(--font-size-lg);
}
.job-title7,
.text36,
.title7 {
  align-self: stretch;
}
.title7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text36 {
  height: 24px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  display: inline-block;
}
.content54 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon-dribble7,
.icon-linkedin10,
.icon-x10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.social-icons7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.card7,
.content50,
.row9 {
  justify-content: flex-start;
  max-width: 100%;
}
.card7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.content50,
.row9 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.row9 {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--link-primary);
}
.content50 {
  display: flex;
  flex-direction: column;
}
.heading26,
.text37 {
  align-self: stretch;
  height: 36px;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.text37 {
  height: 27px;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--text-large-semi-bold);
}
.content56 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button65 {
  width: 104px;
  position: relative;
  line-height: 150%;
  display: none;
}
.button64 {
  width: 157px;
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.content49,
.content55,
.team-121 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.content55 {
  width: 768px;
  height: 151px;
  gap: var(--gap-5xl);
  font-size: var(--font-size-9xl);
  color: var(--link-primary);
  font-family: var(--heading-desktop-h5);
}
.content49,
.team-121 {
  align-self: stretch;
  gap: var(--gap-77xl);
  font-size: var(--text-large-semi-bold-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-large-semi-bold);
}
.team-121 {
  background-color: var(--color-mintcream-200);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--link-primary);
  font-family: var(--font-roboto);
}
.tagline1 {
  align-self: stretch;
  width: 0;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.tagline-wrapper {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.heading27,
.text38 {
  align-self: stretch;
  position: relative;
}
.heading27 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.text38 {
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--text-large-semi-bold);
}
.content57,
.section-title8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content57 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-21xl);
  color: var(--link-primary);
  font-family: var(--heading-desktop-h5);
}
.section-title8 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.name8,
.placeholder3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.placeholder3 {
  width: 536px;
  display: none;
  max-width: 100%;
}
.input,
.text-input3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.text-input3 {
  height: 48px;
  background-color: var(--color-neutral-white);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  color: var(--color-neutral-neutral);
}
.input {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.email,
.placeholder4 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.placeholder4 {
  width: 536px;
  display: none;
  max-width: 100%;
}
.input1,
.text-input4 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.text-input4 {
  height: 48px;
  background-color: var(--color-neutral-white);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  color: var(--color-neutral-neutral);
}
.input1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.message {
  flex-shrink: 0;
}
.message,
.type-your-message {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.text-area-child,
.text-area-item {
  width: 2px;
  height: 2px;
  position: absolute;
  margin: 0 !important;
  right: 2px;
  bottom: 1.8px;
  object-fit: contain;
}
.text-area-item {
  width: 6px;
  height: 6px;
  bottom: 2px;
  z-index: 1;
}
.input2,
.text-area {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-area {
  background-color: var(--color-neutral-white);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  padding: var(--padding-xs) var(--padding-2xs) 144px;
  position: relative;
  min-height: 182px;
  flex-shrink: 0;
  color: var(--color-neutral-neutral);
}
.input2 {
  gap: var(--gap-5xs);
}
.frame-input {
  margin: 0;
  height: 19.5px;
  width: 18px;
}
.terms {
  text-decoration: underline;
}
.label {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 116px;
}
.checkbox,
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.checkbox {
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-5xs);
}
.checkbox-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--text-small-semi-bold-size);
  font-family: var(--text-large-semi-bold);
}
.button67 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.button-wrapper,
.button66 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button66 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-mintcream-100);
  height: 50px;
  justify-content: flex-start;
}
.button66:hover {
  background-color: #e0e6e0;
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.button-wrapper {
  align-self: stretch;
  height: 48px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.form3 {
  width: 560px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-1,
.form-wrapper,
.form3 {
  display: flex;
  max-width: 100%;
}
.form-wrapper {
  width: 768px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: var(--link-primary);
}
.contact-1 {
  align-self: stretch;
  background-color: var(--color-steelblue-200);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-roboto);
}
.company-logo-icon7 {
  width: 63px;
  height: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.join-our-newsletter3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.placeholder5 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-neutral-neutral);
  text-align: left;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
  padding: 0;
}
.text-input5 {
  flex: 1;
  background-color: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-neutral-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  min-width: 237px;
  max-width: 100%;
}
.button69 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.button68,
.form4 {
  display: flex;
  flex-direction: row;
}
.button68 {
  cursor: pointer;
  border: 1px solid var(--color-neutral-neutral-dark);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.button68:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.form4 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.by-subscribing-you3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions17,
.newsletter3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions17 {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--font-size-xs);
  font-family: var(--text-large-semi-bold);
}
.newsletter3 {
  width: 500px;
  gap: var(--gap-5xl);
  min-width: 500px;
}
.column-one3,
.link-one7 {
  position: relative;
  line-height: 150%;
}
.column-one3 {
  align-self: stretch;
  font-weight: 600;
}
.link-one7 {
  flex: 1;
}
.link45 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-two7 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-three7 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link47 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-four3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link48 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-five3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column36,
.footer-links9,
.link49 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link49 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column36,
.footer-links9 {
  flex-direction: column;
}
.footer-links9 {
  align-self: stretch;
  font-size: var(--text-small-semi-bold-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-large-semi-bold);
}
.column36 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.column-two3,
.link-six3 {
  position: relative;
  line-height: 150%;
}
.column-two3 {
  align-self: stretch;
  font-weight: 600;
}
.link-six3 {
  flex: 1;
}
.link50 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-seven3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-eight3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link52 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-nine3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link53 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-ten3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column37,
.footer-links10,
.link54 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link54 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column37,
.footer-links10 {
  flex-direction: column;
}
.footer-links10 {
  align-self: stretch;
  font-size: var(--text-small-semi-bold-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-large-semi-bold);
}
.column37 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.follow-us3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 60px;
}
.link55 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-86xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-instagram3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 65px;
}
.link56 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-81xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-x11,
.x3 {
  position: relative;
}
.icon-x11 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.x3 {
  line-height: 150%;
  display: inline-block;
  min-width: 43px;
}
.link57 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-103xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-linkedin11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 55px;
}
.link58 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-91xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-youtube3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.youtube3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 52px;
}
.link59 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-94xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.social-links3 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--text-small-semi-bold-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-large-semi-bold);
}
.column38,
.links3,
.social-links3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column38 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 151px;
}
.links3 {
  width: 684px;
  flex-direction: row;
  gap: var(--gap-21xl);
  min-width: 684px;
  max-width: 100%;
}
.content58,
.divider7 {
  align-self: stretch;
  box-sizing: border-box;
}
.content58 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider7 {
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
}
.relume-all-rights3 {
  position: relative;
  line-height: 150%;
}
.privacy-policy3 {
  display: inline-block;
  min-width: 87px;
}
.cookies-settings3,
.privacy-policy3,
.terms-of-service3 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings3 {
  display: inline-block;
  min-width: 99px;
}
.footer-links11,
.row10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.row10 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.credits3,
.footer-13,
.team3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits3 {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-semi-bold-size);
  font-family: var(--text-large-semi-bold);
}
.footer-13,
.team3 {
  overflow: hidden;
}
.footer-13 {
  align-self: stretch;
  background-color: var(--color-darkgray);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--link-primary);
  font-family: var(--font-roboto);
}
.team3 {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .team-121 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links3,
  .newsletter3 {
    flex: 1;
  }
  .content58 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .contact-1 {
    gap: var(--gap-21xl);
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links3 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .column35 {
    display: none;
  }
  .column34 {
    width: 270px;
    gap: var(--gap-base);
  }
  .navbar-13 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading25 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .card4,
  .card5 {
    min-width: 100%;
  }
  .row8 {
    gap: var(--gap-13xl);
  }
  .card6,
  .card7 {
    min-width: 100%;
  }
  .content50 {
    gap: var(--gap-13xl);
  }
  .content49 {
    gap: var(--gap-29xl);
  }
  .team-121 {
    gap: var(--gap-21xl);
    padding: var(--padding-28xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading27 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .contact-1 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .newsletter3 {
    min-width: 100%;
  }
  .links3 {
    gap: var(--gap-xl);
  }
  .links3,
  .row10 {
    flex-wrap: wrap;
  }
  .credits3 {
    gap: var(--gap-base);
  }
  .footer-13 {
    gap: var(--gap-21xl);
    padding: var(--padding-33xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading25 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .name4,
  .name5 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .row8 {
    gap: var(--gap-base);
  }
  .name6,
  .name7 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .content50 {
    gap: var(--gap-base);
  }
  .heading26 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .content49 {
    gap: var(--gap-5xl);
  }
  .team-121 {
    gap: var(--gap-xl);
  }
  .heading27 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .contact-1 {
    gap: var(--gap-xl);
  }
  .footer-links11,
  .form4 {
    flex-wrap: wrap;
  }
  .footer-13 {
    gap: var(--gap-xl);
  }
}
